# Python rác
__pycache__/
*.py[cod]
*$py.class

# Môi trường ảo (Rất nặng, không bao giờ đưa lên Git)
venv/
env/
.venv/

dataset/
temp_downloads/

# MÔ HÌNH (Model nặng)
*.h5
# Bỏ comment *.keras dưới đây nếu không muốn đưa model lên Git. 
# Nhưng vì ta cần app chạy được ngay nên sẽ cho phép push file age_classifier_model.keras
# *.keras

# File cấu hình cá nhân
.vscode/
.idea/

# THƯ MỤC DATABASE & MINIO (RẤT NẶNG, BẢO MẬT)
docker_data/
*.rar
*.zip

# Bỏ qua các ảnh test dư thừa
test.jpg